<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
    <title>P&aacute;gina no encontrada</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/queries.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	  <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav icon -->
    <link rel="shortcut icon" href="favicon.ico">  
	</head>
	
	<body>
						
    <section id="home" class="parallax">
      <div class="bg-parallax"></div><!-- End .bg-parallax -->
      <div class="overlay"></div><!-- End .pattern -->
		
		<div id="home-content">
		<div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-md-offset-3">
						<div><p class="error-title">{{mensaje0}}</p></div>
				  		<div class="centrado">
							<img src="img/icons/lupa404.png" class="error-lupa">
						</div>
						<div class="text-error">
						<p class="error-text">{{mensaje1}} <a href="index.html">atr&aacute;s</a> {{mensaje2}} <a href="index.html">adelante</a></p>
						<p class="error-text">En <a href="index.html">Farmalium</a> seguro encontrar&aacute;s lo que buscas</p>
					</div>				
				</div>
              </div><!-- End .row -->
		</div>
		
		<div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
		</div>	
	
    </section><!-- End #home -->
    <div class="shadow"></div>
		  
    <footer>
        <div class="container">
        	<div class="row">
        		<div class="span3 footer-text term">
        		    <a>T&eacute;rminos y condiciones</a>
    		    </div>
        		<div class="span3 footer-text">
        		    <a>Farmalium</a>
    		    </div>        		<div class="span3 footer-text">
        		    &copy;2016, Todos los derechos reservados
    		    </div>
        		<div class="span3">
    		    </div>
        		<div class="span3">
        		    <h3>·</h3>
    		    </div>
        	</div>
        </div>
    </footer>		
	</body>
</html>
