<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
    <title>Farmalium</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/queries.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	  <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav icon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Inicio autocomplete JQUERY -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
    $( function() {
       $( "#search" ).autocomplete({
            source: "/queryajax",
            minLength:4,
        });
    } );
    </script>
    <!-- Fin autocomplete JQUERY -->

	</head>
  <body>
	  	  
		<header class="clearfix-bar clearfix-fixed-top">
			  <div class="logo col-md-4">
    	      	<button type="button" onclick="location.href='index.html';" class="logo-btn"><img src="img/logo-farmalium.png"  alt="Logo Farmalium" width="223" height="68"/></button>
			  </div>  
		    <nav class="clearfix">
            <ul class="clearfix">
                <li><a href="index.html" class="active">Inicio</a></li>
                <li><a href="resultado.html">Resultado</a></li>
                <li><a href="noticias.html">Farmalium recomienda</a></li>
                <li><a href="error.html">Aprende +</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="login.html" class="last">Iniciar sesi&oacute;n</a></li>
            </ul>
        </nav>

        <div class="pullcontainer">
        <a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
        </div>     
		</header>
	 
   <!-- Home section ================================================== -->


    <section id="home" class="parallax">
      <div class="bg-parallax"></div><!-- End .bg-parallax -->
      <div class="overlay"></div><!-- End .pattern -->
     
		
		<div id="home-content">
        <div class="container">	
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
				  	<p class="tittle-text">Encuentra medicamentos, a los mejores precios.</p>
				  
                  <form class="searchbox" action="/consulta?search={{ consulta }}" method="get">
					 <p class="search-title">Ingresa el nombre de tu medicamento</p>
				  	 <div class="button-center">
					   <input id="search" name="med" type="text" placeholder="Ej: Acetaminofén 500 mg" value="{{ consulta }}" class="ejm-text">
					   <input id="submit" type="submit" class="search-btn" value=" ">
						 <div id="result-bar">
							 	<ul class="resul"> 
								{% for n in my_list %}
								<li>{{n}}</li>
								{% endfor %}
								</ul>
						 </div>
				  	 </div>
				  </form>
				</div>
              </div><!-- End .row -->
			
				<div class="social-icons  col-md-6 col-md-offset-3">
					<button class="icon-social">
						<img src="img/icons/fb-icon.png" href="#" alt="Facebook">
					</button>
					<button class="icon-social">
						<img src="img/icons/twitter-icon.png" href="#" alt="Twitter">
					</button>
				</div>
			
            </div><!-- End .container -->
		 </div><!-- End .home-content -->
		
    </section><!-- End #home -->

	  
    <!-- End Home section ================================================== -->
	  



    <div class="container">
    <div class="arrow"></div>
    </div>
	  
	  
	  
    <div class="container carousel">
      <div class="row">

        <div class="col-md-3 col-sm-6">
        <div class="ca-hover">
          <div class="carousel-img">
            <img src="img/noticias/precios_medicamentos.jpg" alt="Carousel Img">
          </div>
          <button type="button" onclick="location.href='noticias/innovavion_precios_medicamentos_y_desarrollo_26-05-2016.html';" class="carousel-lupa">
          </button>
          <div class="carousel-content">
            <h3>Innovaci&oacute;n, precios de medicamentos y desarrollo</h3>
			<div class="nota-fecha">Mayo 26 de 2016</div>
			<p>Colombia ha definido la salud como un derecho humano fundamental, lo que significa, en esencia, que el acceso a los servicios de salud y a los medicamentos esenciales es una obligación del Estado y una cuestión de justicia y dignidad humana.</p>
          </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="ca-hover">
          <div class="carousel-video">
				<div class="contenedor">
					<iframe src="https://www.youtube.com/embed/eLoPiovf3So" frameborder="0" allowfullscreen></iframe>
				</div>	
			</div>
          <button type="button" onclick="location.href='error.html';" class="carousel-lupa">
          </button>
          <div class="carousel-content">
            <h3>Lo que deber&iacute;as saber acerca del virus del Zika</h3>
			<div class="nota-fecha">Marzo 25 de 2016</div>
            <p>Se considera que una de cada cuatro personas infectadas desarrolla los s&iacute;ntomas de la enfermedad. En quienes los desarrollan, la enfermedad es usualmente leve y puede durar de entre 2 y 7 días. Los s&iacute;ntomas son similares a los del dengue o del chikungunya, que tambi&eacute;n son transmitidas por el mismo tipo de mosquito.</p>
          </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="ca-hover">
          <div class="carousel-img">
            <img src="img/noticias/guerra-genericos.jpg" alt="Carousel Img">
          </div>
          <button type="button" onclick="location.href='error.html';" class="carousel-lupa">
          </button>
          <div class="carousel-content">
            <h3>Nueva guerra contra los gen&eacute;ricos</h3>
			<div class="nota-fecha">Junio 9 de 2016</div>
            <p>Este proyecto de ley no tiene futuro y no preocupa. Pero s&iacute; hay que preocuparse por la tenaz persistencia de prejuicios que contradicen las evidencias y la l&oacute;gica.</p>
          </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6">
        <div class="ca-hover">
          <div class="carousel-img">
            <img src="img/noticias/medicamentos-interes-publico.jpg" alt="Carousel Img">
          </div>
          <button type="button" onclick="location.href='error.html';" class="carousel-lupa">
          </button>
          <div class="carousel-content">
            <h3>Medicamentos, de inter&eacute;s p&uacute;blico</h3>
			<div class="nota-fecha">Mayo 1 de 2016</div>
            <p>Por primera vez en Colombia un medicamento es declarado de inter&eacute;s público. Pero todos los medicamentos en general deben ser de inter&eacute;s p&uacute;blico, pues no es conveniente que se discriminen las patolog&iacute;as y, as&iacute; mismo, la calidad de los medicamentos: el mismo dolor que siente una persona de escasos recursos lo siente el adinerado.</p>
          </div>
        </div>
        </div>
		  
	</div>
	</div>

    <div class="container">
      <div class="row">
        <div class="controls">
        </div>
      </div>
    </div>
	  
	 
    <div class="quote-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <div class="col-md-10 col-md-offset-1">
            <div class="quote-slideshow">
              <figure class="show"><h2>Contamos con m&aacute;s de 20.000 productos registrados en nuestra base de datos y seguimos creciendo todos los d&iacute;as para facilitar y optimizar la compra de tus medicamentos.</h2>
              </figure>
              <figure><h2>Farmalium compara los precios de tu medicamento entre varios droguer&iacute;as on-line para ofrecerte la mejor opci&oacute;n al mejor precio.</h2>
              </figure>
            </div>
            </div>
            <span class="quote-prev circle"><i class="fa fa-angle-left fa-2x"></i></span>
            <span class="quote-next circle"><i class="fa fa-angle-right fa-2x"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow"></div>
		  
    <footer>
        <div class="container">
        	<div class="row">
        		<div class="span3 footer-text term">
        		    <a>T&eacute;rminos y condiciones</a>
    		    </div>
        		<div class="span3 footer-text">
        		    <a>Farmalium</a>
    		    </div>        		<div class="span3 footer-text">
        		    &copy;2016, Todos los derechos reservados
    		    </div>
        		<div class="span3">
    		    </div>
        		<div class="span3">
        		    <h3>·</h3>
    		    </div>
        	</div>
        </div>
    </footer>		  
    <script src="js/bootstrap.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/unslider.min.js"></script>
  </body>
</html>