<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
    <title>Farmalium</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/queries.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	  <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav icon -->
    <link rel="shortcut icon" href="favicon.ico">  
	</head>
  <body>
		<header class="clearfix-bar clearfix-fixed-top">
			  <div class="logo col-md-4" class="brand">
    	      	<img src="img/logo-farmalium.png"  alt="Logo Farmalium" width="223" height="68"/>
	      	  </div>
		    <nav class="clearfix">
            <ul class="clearfix">
                <li><a href="index.html">Buscador</a></li>
                <li><a href="resultado.html" class="active">Resultado</a></li>
                <li><a href="index_con_resultados.html">Oferta del d&iacute;a</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">¿C&oacute;mo lo hacemos?</a></li>
                <li><a href="#" class="last">Contacto</a></li>
            </ul>
        </nav>

        <div class="pullcontainer">
        <a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
        </div>     
		</header>
	 
   <!-- Home section ================================================== -->


    <section id="home" class="parallax">
      <div class="bg-parallax"></div><!-- End .bg-parallax -->
      <div class="overlay"></div><!-- End .pattern -->
     
		<div id="home-content">
        <div class="container">	
            <div class="row">
              <div class="col-md-6 col-md-offset-3">				 
				  <div class="result-tittle">
					 <p class="result-0">Mometasona</p><br>
					 <p class="result-1">(Mometasona Furoato)</p><br>
					 <div id="menu-list">
						<ul class="navi">
							<li><a href="">Crema</a>
								<ul>
									<li><a href="">Spray Nasal</a></li>
									<li><a href="">Tabletas</a></li>
									<li><a href="">C&aacute;psulas</a></li>
								</ul>
							</li>
						</ul>
					 </div>			  
					 <div id="menu-list">
						<ul class="navi">
							<li><a href="">1%</a>
								<ul>
									<li><a href="">2%</a></li>
								</ul>
							</li>
						</ul>
					 </div>		
				  </div> 
							
  
				  <section class="section-title">Indicaciones</section>
				  	<div class="plegable">
  						 <p>La mometasona se usa para aliviar el prurito (picazón) y la inflamación (hinchazón) de numerosas afecciones a la piel.<br>
						 Este medicamento también puede ser prescrito para otros usos; pídale más información a su doctor o farmacéutico.</p>
				  	</div>
				  
				  <section class="section-title">Modo de uso</section>
				  <div class="plegable">
   						<p>La mometasona viene envasada en forma de crema tópica, ungüento y loción. Por lo general, se aplica externamente 1 vez al día. Siga cuidadosamente las instrucciones en la etiqueta del medicamento y pregúntele a su doctor o farmacéutico cualquier cosa que no entienda. Use el medicamento exactamente como se indica. No use más ni menos que la dosis indicada ni tampoco más seguido que lo prescrito por su doctor.<br>
						Para usar la crema o el ungüento de mometasona, aplique una película delgada sobre la zona afectada 1 vez al día.<br>
						Para aplicar la loción, coloque unas gotas en la zona afectada 1 vez al día y masajee suavemente hasta que desaparezca. Para ser más eficaz y económico, mantenga la boquilla del envase cerca de la zona afectada y oprima suavemente.</p>
				  </div>

				  <section class="section-title">Contraindicaciones y Advertencias</section>
				  <div class="plegable">
   						<p><strong>Antes de comenzar a usar mometasona:</strong><br>
							· Dígale a su doctor y a su farmacéutico si usted es alérgico a la mometasona o a otros medicamentos.<br>
							· Dígale a su doctor y a su farmacéutico qué medicamentos con y sin prescripción está tomando, incluyendo vitaminas.<br>
							· Dígale a su doctor si usted tiene una infección o alguna vez ha tenido cataratas, glaucoma o diabetes.<br>
							· Dígale a su doctor si está embarazada, tiene planes de quedar embarazada o si está amamantando. Si queda embarazada mientras toma este medicamento, llame a su doctor de inmediato.<br>
							<br>
							<strong>¿Qué tengo que hacer si me olvido de tomar una dosis?</strong><br>
							Aplique la dosis que olvidó tan pronto como lo recuerde, sin embargo, si es hora para la siguiente, sáltese la que no aplicó y siga con la dosificación regular. No aplique una dosis doble para compensar la que olvidó.					  
					  </p>
				  </div>			
				  
				  <section class="section-title">Efectos secundarios</section>
				  <div class="plegable">
   						<p><strong>Aunque los efectos secundarios de este medicamento no son comunes, podrían llegar a presentarse. Dígale a su doctor si cualquiera de estos síntomas se vuelve severo o si no desaparece:</strong><br>
						· Acné <br>
						· Lesiones en la piel<br>
						· Ardor<br>
						· Prurito (picazón)<br>
						· Irritación<br>
						· Sequedad<br>
						· Infección en la piel<br>
						· Cambios en el color de la piel<br>
						<br>	
						<strong>Si usted experimenta alguno de los siguientes síntomas, llame a su doctor de inmediato:</strong><br>
						· Infección en el área tratada (enrojecimiento, sensación de calor, o inflamación)<br>
						· Pus en el área tratada<br>
						· Empeoramiento del problema de la piel</p>
				  </div>		
				  
				  <section class="section-title">Otra información importante</section>
				  <div class="plegable">
   						<p>Cumpla con todas las citas con su doctor y el laboratorio. La afección de la piel debe ser supervisada para determinar la respuesta a la mometasona.<br>

						No use mometasona en otras áreas que las indicadas por su doctor y no la use para otros problemas de la piel. No envuelva ni aplique vendas al área tratada a menos que sea indicado por su doctor.<br>

						Si está administrando este medicamento en el área genital de los niños, no use pañales ni calzones plásticos ajustados. Este uso puede aumentar la absorción del medicamento a través de la piel y provocar efectos secundarios.<br>

						No aplique cosméticos, lociones o productos de otro tipo para la piel en el área tratada sin conversar con su doctor.<br>

						No deje que otras personas tomen su medicamento. Pregúntele al farmacéutico cualquier duda que tenga sobre cómo renovar la prescripción de su medicamento.<br>

						Es importante que Ud. mantenga una lista escrita de todas las medicinas que Ud. está tomando, incluyendo las que recibió con receta médica y las que Ud. compró sin receta, incluyendo vitaminas y suplementos de dieta. Ud. debe tener la lista cada vez que visita su médico o cuando es admitido a un hospital. También es una información importante en casos de emergencia.<br></p>
					  <div>.</div>
				  </div>
				  
				  <section class="section-title-product">Producto</section>
						<div class="plegable-product">
						  <div class="sort-bar">
							<p class="sort-tittle">Ordenado por</p>	
							<button class="sort-quality">Calidad</button>	
							<button class="sort-price">Precio</button>	
							<button class="sort-best">Mejor Opc.</button>	
						  </div>

						<button id="product-box" action="">
							<p class="product-name">Mometasona Furoato</p>	
							<p class="product-info">Crema 1% x 15 grs</p>	
							<div class="star-3"></div>
							<p class="distribuidor-text">Drog. San Jorge</p>	
							<div class="price">$18.600</div>
							<img src="img/laboratorios/mk.jpg" class="lab-logo" alt="mk" height="80" width="80">

						</button>

						<button id="product-box" action="">
							<p class="product-name">Leaxin</p>	
							<p class="product-info">Crema 1% x 15 grs</p>	
							<div class="star-2"></div>
							<p class="distribuidor-text">Locatel</p>	
							<div class="price">$37.500</div>
							<img src="img/laboratorios/skindrug.jpg" class="lab-logo" alt="mk" height="80" width="80">
						</button>

						<button id="product-box" action="">
							<p class="product-name">Momet Q</p>	
							<p class="product-info">Crema 1% x 15 grs</p>	
							<div class="star-5"></div>
							<p class="distribuidor-text">Drog. Acu&ntilde;a</p>	
							<div class="price">$38.700</div>
							<img src="img/laboratorios/galeno.jpg" class="lab-logo" alt="mk" height="80" width="80">
						</button>

						<button id="product-box" action="">
							<p class="product-name">Furoato de Mometasona</p>	
							<p class="product-info">Crema 1% x 15 grs</p>	
							<div class="star-3"></div>
							<p class="distribuidor-text">Drog. Colsubsidio</p>	
							<div class="price">$18.945</div>
							<img src="img/laboratorios/la-sante.jpg" class="lab-logo" alt="mk" height="80" width="80">
						</button>

						<button id="product-box" action="">
							<p class="product-name">Dermacortine Crema</p>	
							<p class="product-info">Crema 1% x 15 grs</p>	
							<div class="star-4"></div>
							<p class="distribuidor-text">Sfarma</p>	
							<div class="price">$36.585</div>
							<img src="img/laboratorios/scandinavia.jpg" class="lab-logo" alt="mk" height="80" width="80">
						</button>
				  </div>
		<div class="transparent-bar"></div>

			</div>		
		</div><!-- End .row -->
      </div><!-- End .container -->
	 </div><!-- End .home-content -->	  
				  
		
    </section><!-- End #home -->

	  
    <!-- End Home section ================================================== -->
	  


    <div class="container">
    <div class="arrow"></div>
    </div>
	  
	  
	  
	  
    <div class="container carousel">
      <div class="row">

		  <div class="col-md-3"></div>

		  
        <div class="col-md-3">
        <div class="ca-hover">
          <div class="carousel-img">
            <img src="img/noticias/laboratorio.jpg" alt="Carousel Img">
          </div>
          <div class="carousel-avatar av1">
          </div>
          <div class="carousel-content">
            <h3>Incautan más de 300 tipos de medicamentos vencidos y reempacados en Cali</h3>
            <p>Las autoridades recomendaron llevar los farmacéuticos vencidos hasta centros asistenciales, donde los recopilan para su posterior destrucción</p>
          </div>
        </div>
        </div>

        <div class="col-md-3">
        <div class="ca-hover">
          <div class="carousel-img">
            <img src="img/noticias/pediatria.jpg" alt="Carousel Img">
          </div>
          <div class="carousel-avatar av1">
          </div>
          <div class="carousel-content">
            <h3>Piden medicamentos para ni&ntilde;os con VIH</h3>
            <p>En la XV Conferencia Internacional sobre el Sida, que termina hoy en Bangkok (Tailandia), la organización mundial Médicos Sin Fronteras hizo un llamado al mundo para que obligue a las empresas farmacéuticas a producir medicamentos en presentaciones pediátricas..</p>
          </div>
        </div>
        </div>

        <div class="col-md-3"></div>
		  
	</div>
	</div>

    <div class="container">
      <div class="row">
        <div class="controls">
        </div>
      </div>
    </div>
	  
	 
    <div class="quote-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <div class="col-md-10 col-md-offset-1">
            <div class="quote-slideshow">
              <figure class="show" ><h2>En Farmalium comparamos los precios de tu medicamento entre varias droguer&iacute;as on-line para ofrecerte la mejor opci&oacute;n al mejor precio.</h2>
              </figure>
			  <figure><h2>Contamos con m&aacute;s de 20.000 productos registrados en nuestra base de datos y seguimos creciendo todos los d&iacute;as para facilitar y optimizar la compra de tus medicamentos.</h2>
              </figure>
            </div>
            </div>
            <span class="quote-prev circle"><i class="fa fa-angle-left fa-2x"></i></span>
            <span class="quote-next circle"><i class="fa fa-angle-right fa-2x"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow"></div>
		  
    <footer>
        <div class="container">
        	<div class="row">
        		<div class="span3 footer-text">
        		    <a>Farmalium</a>
    		    </div>
        		<div class="span3 footer-text">
        		    &copy;2016, Todos los derechos reservados
    		    </div>
        		<div class="span3">
    		    </div>
        		<div class="span3">
        		    <h3>·</h3>
    		    </div>
        	</div>
        </div>
    </footer>		  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/unslider.min.js"></script>
  </body>
</html>